name: Code Review


permissions:
  contents: read
  pull-requests: write

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  code-review:
    runs-on: ubuntu-latest

    steps:
      - uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          OPENAI_API_ENDPOINT: https://api.openai.com/v1
          MODEL: gpt-4o

          LANGUAGE: Chinese
          PROMPT: "Please check the following code diff for bugs, security issues, and bad practices."

          temperature: "1"
          top_p: "1"
          max_tokens: "10000"

          MAX_PATCH_LENGTH: "10000"
          IGNORE_PATTERNS: "/node_modules/**/*,*.md"
          INCLUDE_PATTERNS: "*.js,*.ts"

